<div class ="w3-container w3-card-3">
	<table class = "w3-table w3-white w3-border"  style ="width:30%;float: left;margin:8px;" ng-repeat="cust in customers" >
	<thead>
		<tr class="w3-light-grey">
		<th>Product</th>
  		<th>Price</th>
  		<th>Quantity</th>
		<th>Order Total</th>
		</tr>
	</thead>	
		<tr style="w3-dark-gray" ng-repeat="order in cust.orders"  >
		<td>{{order.product  }}</td>
  		<td>{{order.Price | currency  }}</td>
  		<td>{{order.Qty  }}</td>
		<td>{{order.OrderTotal | currency }}</td>
		</tr>
		<tr>
		<td> Total : </td>
  		<td>{{ cust.orders | sumOfValue:'Price' | currency}}</td>
  		<td>{{ cust.orders | sumOfValue:'Qty' }}</td>
		<td>{{ cust.orders | OrderTotal:'Qty':'Price' | currency }}</td>
		</tr>
	</table>
</div>
